<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= simple_form_for :search, url: root_path, method: :get do |f| %>
        <div class="d-flex">
          <%= text_field_tag :query,
          params[:query],
          class: "form-control string required",
          placeholder: "Find a movie or serie",
          id: "search_query"
          %>
          <%= submit_tag "Search", class: "btn btn-warning" %>
        </div>        
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <% if !(@movies.empty?) %>
    <h6>Find <%= @movies.count %> movies</h6>
    <div class="row">
      <% @movies.each do |movie| %>
        <div class="col-md-3 my-3" id="movie-card">
          <div class="card">
              <%= image_tag movie.poster, class: "img-fluid", crop: :fill %>
          </div>
          <div class="card-footer">
            <h4 class="text-truncate"> <%= movie.title %> </h4>
            <div class="d-flex justify-content-between">
              <h5> <%= movie.tipo %> </h5>
              <h6> <%= movie.year %> </h6>  
            </div>
            <div class="d-flex justify-content-between">
              <%= link_to "Mark as favorite", movie_path(movie.id), class: "text-muted", method: :patch %>
              <% if movie.favorite %>
                <%= "â­" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>