<header class="w-full flex bg-gradient-to-r from-purple-500 to-pink-500 opacity-95 shadow-md fixed top-0 h-10">
  <div class="w-full flex flex-row justify-between items-center container mx-auto">
    <% if user_signed_in? %>
      
      <div class="flex flex-row w-full justify-between px-5">
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "text-white font-medium" %>
        <div class="flex flex-row justify-end">
          <%= link_to "My Favs", my_favs_path, class: "px-5 rounded bg-purple-500 hover:bg-purple-700 text-white cursor-pointer mr-5" %>
          <%= link_to root_path do %>
            <div class="sm:hidden bg-white rounded-sm px-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
              </svg>
            </div>
          <% end %>
          <div class="hidden sm:block">
            <%= render "/films/search_form" %>
          </div>
        </div>
      </div>

    <% else %>
      <div class="flex flex-row w-full justify-between px-5">
        <%= button_to "Inicia Sesión", new_user_session_path, method: "GET", class: "px-2 rounded cursor-pointer transition easy-in-out bg-blue-300 hover:bg-red-300" %>
        <%= link_to "Search", root_path, class: "sm:hidden px-2 rounded cursor-pointer bg-white" %>
        <div class="hidden sm:block">
          <%= render "/films/search_form" %>
        </div>
      </div>
    <% end %>

  </div>
</header>